header {
    background-color: var(--dark2);
    position: sticky;
    top:0;
    z-index:30;
    padding: 5px 0;
}

body {
    font-size: 18px;
    font-family: 'Signika', sans-serif;
    color: var(--secondary);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    justify-content: flex-end;


}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar a {
    font-size: 1.5rem;
    padding: 10px;
    text-decoration: none;
    color:var(--secondary);
    margin: 10px;

}

.navbar a:hover {
    border-bottom: var(--primary) solid;
}


.hero {
    background-color: var(--dark2);
    position: relative;
}

.hero img {
    width: 100%;
    height: 530px;
    opacity: 0.35;
}



span {
    color: var(--primary);
}










/*Briefcase*/

.briefcase {
    background-color: var(--dark1);
}

.briefcase-section h2{
    padding: 40px;
    text-align: center;
 
}

.briefcase-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(290px,auto));
    gap:15px;
    width: 90%;
    margin:0 auto;
  
}

.briefcase-grid img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.2s ease;
    cursor: pointer;

}

.briefcase-grid img:hover {
    transform: scale(1.1);
}